li{
    display:inline;
}
li>a{
    color:white;
}

h1{
    color:white;
}

.Header ul{
    background-color: black;
    margin: 0;
}
.Header button:hover{
    transition: 0.5s;
    background-color: blue;
}

.Header button{
    transition: 0.5s;
    background-color: LightGray;
}